DATABASE_URL=postgresql+psycopg://cantine_user:cantine_pass@localhost:5432/cantine_db
SECRET_KEY=change-moi-en-une-longue-chaine-aleatoire
FUSEAU_HORAIRE=Africa/Niamey
HEURE_OUVERTURE=8
HEURE_FERMETURE=11
